* {
    padding: 0;
    margin: 0; 
}

body {
    font: 12px/1.4 Arial, Verdana, Tahoma, sans-serif;
    color: #5f5f5f;
    background: #c7d4d9;
}

#form {
    width: 420px;
    background: #f0f0f0;
    border: 1px solid #a8bcc3;
    margin: 20px auto;
    padding: 20px 40px;
}

h1 {
    color: #696969;
    font-size: 18px;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 10px;
}

.row {
    padding: 5px 0;
}

p {
    font-weight: bold;
    margin-bottom: 5px;
    color: #92acb6;
}

input[type="text"], input[type="password"], select, textarea {
    font: 12px Arial, Verdana, Tahoma, sans-serif;
    color: #5d5d5d;
    border: 1px solid #b6b6b6;
}

input[type="text"], input[type="password"] {
    width: 210px;
    height: 26px;
    padding: 0 5px;
}

select {
    width: 210px;
}

textarea {
    padding: 5px;
}

input[type="image"] {
    margin: 10px 0;
}